//META{"name":"LKDarkerDiscord","description":"Dark...","author":"LKD70","version":"0.0.1"}*//

/*
 * Variables
**/
:root { 
	--bg-darkest: #151515;
	--bg-dark: #202020;
	--dark-feature: #444;
	--primary: #ff0066;
	--primary-hover: #ff0060;
}

/*
 * Plugin compatibility:
 * .foldercontent {} for 'ServerFolders' by DevilBro
 *
**/

/*
 * Main theming
**/
.theme-dark, .theme-light {
	background-color: var(--bg-darkest) !important;
}
.da-appMount, .da-channels, .da-guilds, .da-header,
.scroller-wrap, .da-flex .da-headerBar, .flex-spacer,
.da-container, .da-flex, .da-scrollerThemed,
.da-members, .da-card, .foldercontent {
	background-color: var(--bg-darkest) !important;
}
.da-card {
	border: none !important;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,
.da-separator, #bd-settings-sidebar .ui-tab-bar-separator,
.da-barFill,
.da-itemSelected
{
	background-color: var(--primary) !important;
}
.theme-dark .da-closeButton {
	border-color: var(--primary-hover) !important;
}
.theme-dark .content-region {
	background-color: var(--bg-darkest) !important;
}
a {
	color: var(--primary) !important;
}
a:hover {
	color: var(--primary-hover) !important;
}

/*
 * Scuffed paths
**/
.lookFilled-1Gx00P.colorBrand-3pXr91 {
	background-color: var(--primary) !important;
}
#user-settings > div:nth-child(3) > div > div.sidebarRegion-VFTUkN.da-sidebarRegion > div > div > div > div > div:nth-child(8) {
	color: var(--primary) !important;
}
.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM {
	background-color: var(--bg-dark) !important;
}
.valueChecked-m-4IJZ {
	background-color: var(--primary) !important;
}