//META{"name":"Members Popout","description":"Popout the members panel on-hover","author":"LKD70","version":"0.0.1"}*// 

div[class*=membersWrap-] {
  min-width: 45px;
  width: 45px;
  transition: min-width 0.6s, width 0.6s;
}
div[class*=membersWrap-] div[class*=membersGroup-] {
  height: 20px;
  transition: height 0.6s;
  display: none;
  transition: height 0.6s, padding-top 0.6s;
}
div[class*=membersWrap-] div[class*=member-] {
  margin-left: 0;
  transition: margin-left 0.6s;
}
div[class*=membersWrap-]:hover {
  min-width: 240px;
  width: 240px;
  transition: min-width 0.4s, width 0.4s;
  transition-delay: 0.1s;
}
div[class*=membersWrap-]:hover div[class*=membersGroup-] {
  transition: height 0.4s;
  transition-delay: 0.1s;
  height: 20px;
  display: block;
  transition: height 0.4s, padding-top 0.4s;
  padding-top: 0px;
}
div[class*=membersWrap-]:hover div[class*=member-] {
  margin-left: 8px;
  transition: margin-left 0.4s;
  transition-delay: 0.1s;
}

div[class*=members-] div[class*=wrapper-][class*=small-] div[class*=mask-] {
  -webkit-mask: none !important;
  mask: none !important;
}
div[class*=members-] div[class*=wrapper-][class*=small-] div[class*=status-] {
  top: -2px;
  left: -2px;
  height: 100% !important;
  width: 100%;
  background-color: transparent;
  border-width: 2px;
}
div[class*=members-] div[class*=wrapper-][class*=small-] div[class*=online-] {
  border-color: rgba(67, 181, 129, 0.1) !important;
}
div[class*=members-] div[class*=wrapper-][class*=small-] div[class*=idle-] {
  border-color: rgba(250, 166, 26, 0.1) !important;
}
div[class*=members-] div[class*=wrapper-][class*=small-] div[class*=dnd-] {
  border-color: rgba(240, 71, 71, 0.1) !important;
}
div[class*=members-] div[class*=wrapper-][class*=small-] div[class*=streaming-] {
  border-color: rgba(89, 54, 149, 0.1) !important;
}