//META{"name":"Square Server List","description":"Square server list with hover effects","author":"LKD70","version":"0.0.1"}*// 

.da-guildInner { /* Blur inactive */
  transition: all 0.3s ease;
  opacity: 0.3;
  filter: grayscale(40%) blur(1px);
}

.da-guildInner:hover { /* Hover Animation */
  filter: grayscale(0%) blur(0px);
  opacity: 0.6 !important;
}

.guild-1EfMGQ.selected-ML3OIq > div > div { /* Highlight active */
  opacity: 1 !important;
  filter: blur(0px) grayscale(0%);
}

.da-guildsWrapper .da-guilds { /* Fix Offset */
  padding: 0 0 0 0;
}

.da-guildInner { /* Square */
  border-radius: 0 !important;
}

.da-guildsWrapper { /* No width */
  width: 50px;
}