//META{"name":"ThemeScrollbar","description":"Themes all scrollbars","author":"LKD70","version":"0.0.1"}*//

:root {
	--bg-dark: #202020;
	--primary: #ff0066;
}

#app-mount ::-webkit-scrollbar-track-piece {
    display: none !important;
}

#app-mount ::-webkit-scrollbar-thumb {
    background: var(--primary) !important;
    border-color: var(--bg-dark) !important;
}